html {
	background-color: white;
}

.image_container {
	position: relative;
	width: 70%;
	margin-left: 15%;
}

.title {
	color: #6B1705;
	position: absolute;
	top: 20px;
	left: 150px;
	font-size: 50px;
	font-weight: bold;
}

.subtitle {
	color: green;
	font-size: 30px;
	text-align: center;
}

.word_space {
	letter-spacing: 10px;
	font-size: 40px;
	text-align: center;
}